
* {
    box-sizing: border-box;
}

body {
    margin: 0;

}

.row1 .header img {
    width: 100%;
    height: 550px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.09);
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.7;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: rgb(255, 255, 255);
}

.row2 {
    margin: 70px 10px 70px 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: auto;
}

.profile, .skills, .Education {
    overflow: visible;
    /*border: 3px ridge dimgrey;*/
    margin: 50px 30px 50px 30px;
}

.profile article p {
    font-family: Georgia, serif;
    line-height: 1.5;
    text-align: justify;
    padding-left: 25px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.skills {
    height: 600px;
}

.column {
    float: left;
    width: 48%;
    margin-top: 30px;
}

.column ul li {
    border: 2px solid rgba(0, 0, 0, 0.47);
    line-height: 1.5;
    text-align: justify;
    list-style-type: none;
    font-size: 25px;
    padding: 20px;
    height: 80px;
    margin-top: 30px;

}

.column ul li:hover {
    background-color: #93a5b6;
}

.skills ul li img {
    width: 5%;
    margin-top: 3px;
    margin-right: 5px;
}


.row2:after {
    content: "";
    display: table;
    clear: both;
}

em {
    text-decoration: underline;
}

em:hover {
    color: rgba(0, 0, 0, 0.24);
}


::selection {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.51);
}


h2 {
    font-family: 'Times New Roman', serif;
}

span {
    font-family: Calibri;
    padding-left: 25px;
    text-align: justify;

}

h2:hover {
    color: rgb(199, 53, 53);
}

h2 img {
    margin: 0 5px 0 3px;
}

h4 {
    padding-left: 25px;
}

.edu span img {
    width: 2%;
}

strong:hover {
    color: firebrick;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}

hr:hover {
    border-top: 1px solid rgba(0, 0, 0, 0.47)
}

.navFooter {
    margin-bottom: 50px;

}

.navFooter h3 {
    margin-top: 50px;
}

.navFooter ul {
    list-style: none;
}

.navFooter ul li {
    display: inline;
    padding: 10px;
}

.navFooter a {
    padding: 0 5px 0 5px;
    color: inherit;

}

.navFooter li img{
    transition: width 2s, height 2s;
}

.navFooter li img:hover {
    width: 50px;
    height: 50px;
}

h3 {
    text-align: center;
    color: grey;
}

