
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.row1 .header img{
    width: 100%;
    height: 550px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.09);
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.7;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: rgb(255, 255, 255);
}

div.row2 {
    margin: 70px 10px 70px 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: auto;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
}

div.row3 {
    margin: 60px 10px 60px 10px;
    padding: 15px;
    background-color: white;
    opacity: 0.3;
}

.profile, .skills, .Education {
    overflow: auto;
    border: 3px ridge dimgrey;
    padding: 5px;
    margin: 10px 20px 10px 20px;
}

.profile article p {
    font-family: Georgia, serif;
    line-height: 1.5;
    text-align: justify;
}

em {
    text-decoration: underline;
}

em:hover {
    color: rgba(0, 0, 0, 0.24);
}

.skills {
    height: 500px;
}

::selection {
    color: powderblue;
    background-color: white;
}

.column {
    width: 49%;
    height: 200px;
    float: left;
    margin: 5px 0 10px 0;
}

.right {
    margin-left: 23px;
}

.left {
    margin-left: 4px;
}

li::marker {
    color: #e7154e;
}

.skills ul li {
    line-height: 1.5;
    text-align: justify;
    list-style-type: none;
    font-size: 20px;
    padding: 2px;
}

.skills ul li img {
    width: 5%;
    margin-top: 3px;
    margin-right: 5px;
}

h2 {
    font-family: 'Times New Roman', serif;
}

h2:hover {
    color: rgb(199, 53, 53);
}

h2 img {
    margin: 0 5px 0 3px;
}

strong:hover {
    color: firebrick;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}
